.sell-form{
font-family: Georgia, 'Times New Roman', Times, serif;
text-align: center;
font-size: xx-large;
margin: 10%;
}

.Sell{
        background-color: white; 
        font-family:Georgia, 'Times New Roman', Times, serif;
        color: black; 
        border: 3px solid red;
        padding: 10px 32px;
      text-align: center;
      text-decoration: none;
      display: inline;
      font-size: 22px;
      margin: 23px 12px;
      transition-duration: 0.4s;
      cursor: pointer;
    }
    
    
      
      .Sell:hover {
        background-color: red;
        color: white;
      }
    
