body {
    font-family: monospace;
    text-align: center;
    font-size: 24px;
}

input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid black;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=username], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid black;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password] {
    width: 100%;
    padding: 14px 20px;
    margin: 8px 0;
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer;
}

#button {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: white; 
    color: black; 
    border: 2px solid red;
    padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}


  
  #button:hover {
    background-color: red;
    color: white;
  }
